<html>
    <head>
        <title>
            <%= title  %>
        </title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">

        <%- style %>
        
    </head>

    <body>
        <%- include('_header'); %>
        
        <main id="layout-main">
            <%- body %>

        </main>


        <%- include('_footer'); %>

        <%- script %>
        
    </body>
</html>